@model TPFinalAR.Models.CajaDeAhorro

@{
    ViewData["Title"] = "Details";
}

<h1 class="h1">Depósito</h1>

<div>
    <h4 class="h4">Caja de ahorro</h4>
    <hr />
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model._cbu)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model._saldo)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model._cbu)
            </td>
            <td>
                @Html.DisplayFor(model => model._saldo)
            </td>
        </tr>
    </tbody>
</table>

<div class="container mt-5">
    <form asp-action="Depositar">
        <input type="hidden" asp-for="_id_caja"/>
        <div class="d-flex justify-content-center">
            <input type="text" name="importe" placeholder="Importe a depositar" class="col-2 m-1 form-text border border-success rounded px-2" />
            <input type="submit" value="Depositar" class="col-2 m-1 btn btn-success"/>
        </div>
    </form>
</div>

<div class="container mt-5">
    <button class="btn btn-warning"><a asp-action="Index" class="text-white text-decoration-none"><span class="fa fa-solid fa-backward mx-2"></span>Lista de cajas de ahorro</a></button>
</div>
